<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- <br><br> -->
<div class="container">
  <!-- <div class="row justify-content-center">
    <div class="col-md-8"> -->
      <div class="card">
        <div style="text-align:center">
          <div class="card-header bg-secondary font text-white" style="font-size: 25px;">การรดน้ำ</div>
        </div><br>
        <br>

        <div style="text-align:center">
          <div class="card-body">
            <input type="date" id="myDate" value="2014-02-09">
            <p id="demo"></p>

            <script>
              function myFunction() {
                var x = document.getElementById("myDate").value;
                document.getElementById("demo").innerHTML = x;
              }
            </script>
          </div>
        </div>
        <br>
        <br>
        <div style="text-align:center">
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <div class="col-md-3">
                <div class="form-group ">
                  <button mat-raised-button (click)="closeDialog()" routerLink="/plotmenu" type="button" class="btn btn-danger btn-lg btn-block login-button font">ย้อนกลับ</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <button mat-raised-button (click)="closeDialog()" routerLink="/watering-result" type="button" class="btn btn-success btn-lg btn-block login-button font">ตกลง</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
    <!-- </div>
  </div> -->
</div>