<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Pattaya&display=swap" rel="stylesheet">


<!------ Include the above in your HEAD tag ---------->

<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">

        <div style="text-align:center">
          <div class="card-header bg-secondary font text-white" style=" font-size: 30px; ">แปลงที่ 1
            <div style="float: right;">
              <button routerLink="/plantconfig" type="button"
                class="btn btn-info btn-lg btn-block login-button font text-white">ตั้งค่าแปลง</button>
              <br>
            </div>
          </div>
        </div><br>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-secondary">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">ค่าที่วัดได้</th>
                  <th scope="col">ผักบุ้ง</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>เซ็นเซอร์วัดแสง</td>
                  <td>200</td>
                  <td>180</td>
                </tr>
                <tr>
                  <td>เซ็นเซอร์วัดอุณหภูมิ</td>
                  <td>35</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>เซ็นเซอร์วัดความชื้นอากาศ</td>
                  <td>25</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>เซ็นเซอร์วัดความชื้นในดิน</td>
                  <td>20</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-secondary">
              <thead>
                <tr>
                  <th scope="col">วันที่ปลูก</th>
                  <th scope="col">กำหนดเก็บ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1/1/2562</td>
                  <td>30/1/2562</td>
                </tr>
            </table>
          </div>
        </div>
        <br>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-secondary">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col ">สถานะ</th>
                  <th scope="col">น้ำ/ปุ๋ย</th>
                  <th scope="col">หยุด</th>
                  <th scope="col">ทำงาน</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >ปั้มน้ำ</td>
                  <td>ทำงาน</td>
                  <td>ปุ๋ย</td>
                  <td><button class="circle"></button></td>
                  <td><button class="circle"></button></td>
                  <td>

                  <button mat-raised-button (click)="openDialog()" type="submit"
                    class="btn btn-warning font">ตั้งค่าปุ๋ย</button></td>
                <td> <button mat-raised-button (click)="openDialog1()" type="submit"
                    class="btn btn-warning  font">ประวัติการให้น้ำ</button></td>
                    
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-secondary">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">สถานะ</th>
                  <th scope="col">หยุด</th>
                  <th scope="col">ทำงาน</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>แสง</td>
                  <td>ปิด</td>
                  <td><button class="circle"></button></td>
                  <td><button class="circle1"></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <div class="card-body">
          <div style="float: right;">
            <div style="float: right;">
              <button routerLink="/plot" type="button"
                class="btn btn-danger btn-lg btn-block login-button font">ย้อนกลับ</button><br>
            </div>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>
</div>