.font{
    font-family: 'Pattaya', sans-serif;
}

.circle{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    /* <img src="assets\img\1234.png"> */
    background-image: url('/assets/img/1234.png');
    border: none;
}
.circle1{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    /* <img src="assets\img\1234.png"> */
    background-image: url('/assets/img/12345.png');
    border: none;
}