<p>คุณต้องการที่จะยกเลิกการสมัครนี้ใช่หรือไม่</p>
<div class="card-body">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <button mat-raised-button (click)="closeDialog()" routerLink="/login" type="button" class="btn btn-success  ">ใช่</button>
        </div>
        <div class="col-md-3">
            <button mat-raised-button (click)="closeDialog()" routerLink="/register" type="button" class="btn btn-danger  ">ไม่</button>
        </div>
    </div>
</div>