<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div style="text-align:center">
          <div class="card-header bg-secondary text-white font" style="font-size: 25px;">แปลงที่ 1
          </div>
          <table class="table table">
            <thead>
              <th scope="col"></th>
              <th scope="col">พืช</th>
              <th scope="col">อุณหภูมิ</th>
              <th scope="col">ความชื้น</th>
              <th scope="col">แสง</th>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>ผักบุ้ง</td>
                <td>30</td>
                <td>15</td>
                <td>180</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>ผักกาด</td>
                <td>31</td>
                <td>25</td>
                <td>200</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>ผักคะน้า</td>
                <td>30</td>
                <td>28</td>
                <td>250</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>ผักสลัด</td>
                <td>29</td>
                <td>20</td>
                <td>180</td>
              </tr>
            </tbody>
          </table>
          <table class="table table">
         <tr>
            <td>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-warning">แก้ไข</button>
              </div>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-success"> เพิ่ม +</button>
              </div>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-danger">ลบ</button>
              </div>
            </td>
          </tr>
            <tr>
              <td>
                <button type="submit" class="btn-lg btn-block login-button btn btn-danger btn-md btn-block font text-white">ย้อนกลับ</button>
              </td>
              <td></td>
              <td>
                <button type="submit" class="btn-lg btn-block login-button btn btn-success btn-md btn-block font text-white">บันทึก</button>
              </td>
            </tr>
          </table>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>