<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- <br><br> -->

      <div class="card">
        <div style="text-align:center">
          <div class="card-header bg-secondary font text-white" style="font-size: 25px;">การใส่ปุ๋ย</div>
        </div><br>
        <br>
        
          <div style="text-align:center">
            <div class="card-body">
               
              <p>ใส่ทุก</p> 
          
              
              <select>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
              </select>
       
         
              <p>วัน</p>
            
            </div>
            <div style="text-align:center">
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-3 ">
                    <div class="form-group ">
                      <button routerLink="/plotmenu" (click)="closeDialog()" type="button" class="btn btn-danger btn-lg btn-block login-button font">ยกเลิก</button>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="form-group ">
                      <button  type="button" class="btn btn-success btn-lg btn-block login-button font">ตกลง</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
 