<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Pattaya&display=swap" rel="stylesheet"> -->

<!------ Include the above in your HEAD tag ---------->

<!-- <br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div style="text-align:center">
          <div class="card-header bg-secondary text-white font" style="font-size: 30px;">สมาชิก</div>
        </div>
        <div class="card-body">

          <br>
          <div class="table-responsive">
          <table class="table table-secondary ">
            <thead>
              <th scope="col">
                <div class="btn-group" role="group" aria-label="Third group">
                  <button routerLink="/login" type="button" class="btn btn-success"> เพิ่ม + </button>
                </div>
              </th>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>นาย</td>
                <td>สมคิด</td>
                <td>รักดี</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-warning"> แก้ไข</button>
                  </div>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button mat-raised-button (click)="openDialog()" type="button" class="btn btn-danger">ลบ</button>
                  </div>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button routerLink="/plot" type="button" class="btn btn-info">รายละเอียด</button>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>นาย</td>
                <td>ดี</td>
                <td>เสมอ</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-warning"> แก้ไข</button>
                  </div>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button mat-raised-button (click)="openDialog()" type="button" class="btn btn-danger">ลบ</button>
                  </div>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-info">รายละเอียด</button>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>นาย</td>
                <td>เอ </td>
                <td>รักดี</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-warning"> แก้ไข</button>
                  </div>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button mat-raised-button (click)="openDialog()" type="button" class="btn btn-danger">ลบ</button>
                  </div>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-info">รายละเอียด</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <br>
          <div class="row d-flex justify-content-center">
            <div class="col-md-3"> -->
              <!-- <button type="submit" class="btn btn-warning btn-md btn-block">ย้อนกลับ</button> -->

            <!-- </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
              <button routerLink="/admin" type="button" class="btn btn-info btn-lg btn-block login-button font">หน้าหลัก</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Hidden brand</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
</div>
</div>
</div> -->



<!-- <img src="\assets\img\dawn.jpg" id="bg" alt=""> -->




<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Full screen background CSS</title>
</head>
  <body>
    <div class="fullscreen-block"></div>
  </body>
</html> -->


